
<body>
{{> nav}}
<h1>Hi, {{user}}</h1>
<h1>Restaurants List</h1>
<form id="filterForm">
    <label for="borough">Borough:</label>
    <input type="text" id="borough" name="borough" value="{{boroughLabel}}">

    <label for="perPage">Restaurants per page:</label>
    <select id="perPage" name="perPage">
        {{#each perPageOptions}}
            <option value="{{this}}" {{#if (eq this ../selectedPerPage)}}selected{{/if}}>{{this}}</option>
        {{/each}}
    </select>

    <button type="submit">Filter</button>
</form>
<div id="restaurantList">
    {{#each restaurants}}
        <div class="restaurant">
            <h2>{{this.name}}</h2>
            <p><strong>Cuisine:</strong> {{this.cuisine}}</p>
            <p><strong>Borough:</strong> {{this.borough}}</p>
            <p><strong>Address:</strong> {{this.address.building}} {{this.address.street}}, {{this.address.zipcode}}</p>
            <h3>Grades:</h3>
            <ul>
                {{#each this.grades}}
                    <li>
                        <strong>Date:</strong> {{formatDate this.date "MMMM Do YYYY, h:mm:ss a"}} -
                        <strong>Grade:</strong> {{this.grade}} - 
                        <strong>Score:</strong> {{this.score}}
                    </li>
                {{/each}}
            </ul>
            <button class="delete-btn" data-id="{{this.restaurant_id}}">Delete</button>
        </div>
    {{/each}}
</div>

<button id="prevPage">Previous</button>
<button id="nextPage">Next</button>

<script src="/javascripts/restaurant.js"></script>
</body>